:root {
  /* --main-color: #191d88;
  --primary-color: #af7cdb; */
  --main-color: #19b7bd;
  --primary-color: #191d88;
  --primary-gradient: linear-gradient(to left, #af7cdb 70%, #382a68);
  --secondry-color: #19b7bd;
  --secondry-gradient: linear-gradient(to bottom, #382a68, #af7cdb);
  --spacific-color: #ffc436;
  /* #19b7bd */
}
.bg-main {
  background: var(--main-color);
}
.bg-primary-c {
  background: var(--primary-color);
}
.bg-secondry {
  background: var(--secondry-gradient);
}
.bg-spacific {
  background: var(--spacific-color);
}
.navbar {
  padding: 10px 0;
}
/* CARDS */
.Home .cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0;
}
hr.bg-main {
  height: 5px;
  border: none;
}
.methods {
  height: calc(100vh - 80px);
  overflow: hidden;
}
.fast-container {
  display: flex;
  position: fixed;
  bottom: 50px;
  right: 50px;
  flex-direction: column;
  align-items: end;
}
.fast,
.fast-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  margin: -10px;
  color: white;
}
.fast-container span {
  border: 14px solid;
  border-color: #19b7bda8 transparent transparent transparent;
  position: relative;
  top: 10px;
  left: 3px;
  transition: 0.2s;
  display: none;
}
.fast-message {
  width: 250px;
  text-align: right;
  color: #fff;
  border-radius: 10px;
  font-size: 0.8rem;
  line-height: 25px;
  display: none;
  transition: 0.2s;
  opacity: 0.8;
}
.fast-container:hover .fast-message,
.fast-container:hover span {
  display: block;
}
