* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  /* background: var(--secondry-gradient); */
  background: #ffff;
  background-repeat: no-repeat;
  color: var(--secondry-gradient);
}
a {
  text-decoration: none;
}
