table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid var(--main-color);
  text-align: center;
  padding: 8px;
}

th {
  background-color: var(--main-color);
}

tr:nth-child(even) {
  background-color: var(--secondry-color);
}
.packets-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.bouquet{
  padding: 10px;
  border: 1px solid #eee;
  text-align: center;
}
.bouquet a{
  background-color: var(--main-color);
  color: white;
  border: none;
}
.bouquet .item{
  font-size: 1.2rem;
  text-align: right;
  margin: 10px 0;
}
.bouquet .title{
  font-size: 30px;
  font-weight: 900;
  border-bottom: 1px solid var(--primary-color);
  padding: 15px;
}
.sticker {
  transform: rotate(45deg);
  border: 1px solid #eee;
  position: absolute;
  padding: 0 20px;
  margin-right: -20px;
  background-color: var(--main-color);
  border-radius: 10px;
}
